.main-category {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  height: 70vh;
  width: 100%;
  border-radius: 5px 0px 0px 0px;
  opacity: 1;
  margin-top: 7%;
}

.main-category h2 {
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  line-height: 40.5px;
  text-align: left;
}

.main-brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0px;
  border-radius: 5px;
}

.main-brands::-webkit-scrollbar {
    display: none; 
}

.main-brands img{
  display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  */
  align-items: center;
  box-sizing: border-box;
  width: 225px;
  height: 270px;
  border-radius: 5px;
  background-color: #fff;
  gap: 30px;
  /* border: 0.5px solid rgba(205, 189, 189, 1); */
}

@media only screen and (max-width: 600px) {
  .main-category {
    
  }
}