.searchBarSection {
  border-radius: 20px;
  /* background-color: rgba(222, 232, 246, 0.67); */
  width: 437px;
  height: 38px;
  /* border: 1px solid #e0e0e0; */
  position: absolute;
  top: 12px;
  left: 260px;
  /* padding: 5px 9px 5px 14px; */
  gap: 4px;
  border-radius: 10px;
  opacity: 0px;
  padding: 10px 20px;
}

.searchBarSection input {
  display:inline-block ;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(222, 232, 246, 0.67);
  width: 437px;
  height: 38px;
  top: -1.5px;
  left: 7px;
  padding: 5px 9px 5px 40px;
  font-size: 18px;
  gap: 4px;
  position: absolute;
}

.searchIcon{
  position: absolute;
  top: 13px;
  left: 20px;
  color: #000000;
  cursor: pointer;
}