.popular {
  display: flex;
  flex-direction: column;
  height: 120vh;
  overflow: hidden;
  width: 100%;
  padding-bottom: 70px;
}

.popular h2 {
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  line-height: 40.5px;
  text-align: left;
}

.popular-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 216px;
  height: 313px;
  gap: 76px;
  border-radius: 10px 0px 0px 0px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
  object-fit: cover;
}

@media screen and (max-width: 600px){
  
}